@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-50%);
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/* @font-face {
  font-family: "Futura";
  src: url("/fonts/FuturaLT-Bold.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/FuturaLT.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/FuturaLT-Light.woff2") format("woff2");
  font-weight: 400;
} */

@font-face {
  font-family: "FuturaLight";
  src: url("/fonts/futura light bt.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "FuturaMedium";
  src: url("/fonts/futura medium bt.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "FuturaBold";
  src: url("/fonts/Futura Bold font.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "FuturaHeavy";
  src: url("/fonts/Futura Heavy font.ttf");
  font-weight: 400;
}

body {
  @apply text-white h-screen flex flex-col text-[16px] leading-[20px];
}

main {
  @apply flex-1;
}

.cl-userButtonBox {
  
}

.cl-avatarImage {
  
}

.cl-userButtonAvatarImage {

  
}

.cl-userButtonTrigger {}

.cl-avatarBox {}

.cl-userButtonAvatarBox {
  
}

@media print {
  body * {
    visibility: hidden;
  }
}

/* Show only the printable div and its children during print */
@media print {


  #printablediv * {
    visibility: visible;
    page-break-inside: avoid;
    page-break-after: avoid;
    page-break-before: avoid;
  }
}



/* Adjust the position and size of the printable div during print if necessary */
@media print {
  /* #printablediv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  } */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: marquee 90s linear infinite;
}